.ssh/

artifact_registry/.terraform/
artifact_registry/.terraform.lock.hcl
artifact_registry/playpen-e16de4-2ee882deabd9.json

cloud_sql/.terraform/
cloud_sql/.terraform.lock.hcl

dataproc_2/.terraform/
dataproc_2/.terraform.lock.hcl

firewall/.terraform/
firewall/.terraform.lock.hcl

gcs_bucket/.terraform/
gcs_bucket/.terraform.lock.hcl

gke/.terraform/
gke/.terraform.lock.hcl
gke/kubeconfig.yaml
gke/playpen-e16de4-30d039fee422.json

Public/

scripts/

service_account/.terraform
service_account/.terraform.lock.hcl

virtual_machine/.terraform
virtual_machine/.terraform.lock.hcl

vpc/.terraform
vpc/.terraform.lock.hcl

audit.dockerfile







